html {
    background-color: grey;
   font-size: 32px;
   
}

body{

    background-color: purple;
    width: 50%;
    font-size: 3em;
}

.pai{
    background-color: #ae80fc;
    width: 50%;
    font-size: 4em;
}

.filha{
    background-color: #1de9b6;
    width: 50%;
    font-size: 2em;
    
}   

/* 1 em = 16 pixels */