@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,800;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital@0;1&display=swap');

body {
    background-color: lightgrey;
    font-family: 'Public Sans', sans-serif;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.thebank {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: black;
    margin-top: 55px;
    text-decoration: none;
    font-weight: 800;
}


.img {
    margin-left: 45px;
    padding: 5px;
}

.cabecalho nav {
    float: right;
}

.cabecalho nav li {
    display: inline-block;
    margin-top: 59px;
    margin-right: 10px;
    font-weight: 400;
}

.cabecalho nav li a {
    font-size: 15px;
    color: black;
    padding: 15px 20px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.cabecalho li a.cadastre {
    color: white; 
}
.cabecalho nav li a:hover {
    background-color: rgba(91, 194, 65, 1);
    color: rgba(255, 255, 255, 1);
}

.cadastre {
    background-color: rgba(91, 194, 65, 1);
    border-radius: 20px;
}

@media (max-width: 500px) {
    .cabecalho {
        flex-direction: column; 
        align-items: center; 
        text-align: center; 
    }

    .cabecalho nav ul {
        display: block; 
        padding: 0; 
    }

    .cabecalho nav li {
        display: block; 
        margin-top: 10px;
    }

    .cabecalho nav li a {
        font-size: 47px;
        display: block; 
        padding: 33px; 
    }

    .thebank {

        font-size: 47px;
        margin-bottom: 100px; 
        margin-top: 47px; 
    }

    .img {
        margin: 0; 
    }
}
